{% extends "base.html.twig" %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<h1>Ваш заказ</h1>
<table class="tg">
    <thead>
        <tr>
            <td class="tg-0pky">Название</td>
            <td class="tg-0pky">Объём/мл</td>
            <td class="tg-0pky">Цвет напитка</td>
            <td class="tg-0pky">Материал упаковки</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-0pky">{{ order.beverage.beverageName }}</td>
            <td class="tg-0pky">{{ order.beverage.packingVolume }}</td>
            <td class="tg-0pky">{{ order.beverage.beverageColor }}</td>
            <td class="tg-0pky">{{ order.beverage.packingMaterial }}</td>
        </tr>
    </tbody>
</table>
<h1>Ваша сдача</h1>
{{ order.delivery }}
{% endblock %}